*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.7%;
  font-family: sans-serif;
}

body {
  background-image: radial-gradient(rgb(51, 51, 51), #000);
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  position: relative;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.main-heading {
  font-size: 14rem;
  font-weight: 100;
}

.frecuencia-text {
  font-size: 3rem;
  margin: 1rem 0 4rem 0;
}

.rangeValue {
  width: 50%;
  margin: 0 auto;
}

.value {
  float: right;
  font-size: 1.8rem;
  width: 15%;
}

input[type='range'] {
  display: block;
  margin: 0 auto;
  width: 85%;
  margin-bottom: 2.5rem;
  float: left;
}

.container {
  width: 80%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
